html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background:(
    -45deg,
    rgba(161, 72, 72, 0.3),
    rgba(175, 97, 97, 0.8)
  );
 
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  display: flex;
  flex: 1 1 5%;

  font-size: 3.2em;
  color: #b40f0f;
  font-family: "Permanent Marker", cursive;
  text-align: left;
  padding: 20px 0px 20px 0px;
  background-color: rgba(182, 121, 121, 0.5);
  display: block;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.notesFooter {
  width: unset;
  background-color: rgba(107, 16, 16, 0.5);
}
